@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4 Titulo">Integrantes</h1>
    <h2 class="" style="font-family:Impact;">Luis Enrique Alvarado</h2>
    <h2 class="" style="font-family:Impact;">Kensy Pavelly Gavarrete</h2>
    <h2 class="" style="font-family:Impact;">Jefferson Adonay Lara</h2>
</div>
